.media-slider .track {
    -fx-background-color: #2979ff;
    -fx-background-radius: 6;
    -fx-pref-height: 8px;
}
.media-slider .thumb {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-effect: dropshadow(gaussian, #0008, 2, 0, 0, 1);
}

.volume-slider .track {
    -fx-background-color: #43a047;
    -fx-background-radius: 3;
    -fx-pref-height: 4px;
}
.volume-slider .thumb {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
    -fx-effect: dropshadow(gaussian, #0008, 2, 0, 0, 1);
}